* {
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Nav Styling */
.nav-container {
    width: 100%;
    height: 12vh;
    border-bottom: 2px solid black;
    display: flex;
    background-color: aquamarine;
    text-align: center;
}

.nav-links {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 100px;
    text-align: center;
}

.nav-links .button:not(:last-child) {}

/* Header Styling */
.header-container {
    width: 100%;
    height: 50vh;
    display: flex;
    border-bottom: 2px solid black;
    /* Filter om de brightness aan te passen naar wens */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('Images/banner_1.png');
    background-size: cover;
    /* background-position: center; Happy little accidents LOL */
    background-repeat: no-repeat;
}

/* Main Styling */
.main-container {
    width: 100%;
    /* height: 200vh; */
    display: flex;
    flex-direction: column;
    background-color: darkorange;
    padding: 50px;
}

.left-text {
    width: 80%;
    height: 25vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.right-text {
    width: 80%;
    height: 25vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.text-container {
    width: 30%;
    border: 2px solid black;
}

.image-container {
    width: 70%;
    border: 2px solid red;
}

/* Footer Styling */
.footer-container {
    width: 100%;
    display: flex;
    border-top: 2px solid black;
    flex-direction: column;
    text-align: center;
    background-color: blueviolet;
    padding: 20px;
}

.footer-links {
    width: 80%;
    height: 10vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* padding: 20px; */
}

.footer-links .button:hover {
    background-color: transparent;
    cursor: default;
}

/* Custom Styling */

.padding {
    padding: 10px;
}

.button {
    width: 125px;
    height: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-right: 1px solid blue; */

    text-align: center;
}

.button:hover {
    background-color: purple;
}

a {
    cursor: pointer;
}