* {
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Nav Styling */
.nav-container {
    width: 100%;
    height: 12vh;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
}

.nav-links {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.button {
    text-decoration: none;
    color: white;
    border-right: 1px solid blue;
    padding: 20px;
    width: 100px;
    text-align: center;
}

/* Header Styling */
.header-container {
    width: 100%;
    display: flex;
}

/* Main Styling */
.main-container {
    width: 100%;
    display: flex;
}

/* Footer Styling */
.footer-container {
    width: 100%;
    display: flex;
}

/* Custom Styling */