* {
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Nav Styling */
.nav-container {
    width: 100%;
    height: 12vh;
    border-bottom: 2px solid black;
    display: flex;
    background-color: #3B3B3B;
    text-align: center;
}

.nav-links {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 100px;
    text-align: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    color: white;
    text-decoration: underline;
}

/* Header Styling */
.header-container {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-bottom: 2px solid black;
    /* Filter om de brightness aan te passen naar wens */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('Images/banner_1.png');
    background-size: cover;
    /* background-position: center; Happy little accidents LOL */
    background-repeat: no-repeat;
}

/* Main Styling */
.main-container {
    color: white;
    width: 100%;
    /* height: 200vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2D383B;
    padding: 50px;
    gap: 50px;
}

.left-text {
    width: 80%;
    height: 25vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding-left: 8px;
    padding-right: 8px;
    border-left: 5px dotted #299883;
}

.right-text {
    width: 80%;
    height: 25vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    border-right: 5px dotted #299883;
    padding-left: 8px;
    padding-right: 8px;
}

.text-container {
    width: 30%;
    /* border: 2px solid black; */
}

.image-container {
    width: 70%;
    /* border: 2px solid red; */
    display: flex;
    gap: 25px;
    justify-content: space-evenly;
}

.image-container img {
    width: 250px;
    height: 100%;
    border-radius: 1vw;
}

.text {
    color: #CFDBCC;
}

/* Footer Styling */
.footer-container {
    width: 100%;
    display: flex;
    border-top: 2px solid black;
    flex-direction: column;
    text-align: center;
    background-color: #8D3800;
    padding: 20px;
}

.footer-links {
    width: 80%;
    height: 10vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* padding: 20px; */
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    color: white;
    text-decoration: underline;
}

.footer-links .button:hover {
    background-color: transparent;
    cursor: default;
}

/* Custom Styling */

.padding {
    padding: 10px;
}

.button {
    width: 125px;
    height: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5 ease;

    /* border-right: 1px solid blue; */

    text-align: center;
}

.button:hover {
    background-color: #2F2F2F;
}

a {
    cursor: pointer;
    text-decoration: underline;
}

h1 {
    padding-bottom: 10px;
    font-size: 40px;
}

h2 {
    color: #299883;
}



.extra-massive {
    font-size: 80px;
}

/* Contact Styling */
form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;
    width: 50%;
    padding: 25px;
    padding-top: 80px;
    border: 2px solid black;
    background-image: linear-gradient(#7AA4A2 10%, 10%, #2F2F2F);
}

.formitem {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

select {
    padding: 10px;
    border-radius: 5px;
}

input {
    padding: 10px;
    border-radius: 5px;
    background-color: #3B3B3B;
    border: 2px solid #708d81ff;
}

input:hover {
    background-color: #515151;
}

.inputrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.inputrow .formitem {
    flex: 1;
}

select {
    background-color: #3B3B3B;
    border: 2px solid #708d81ff;
}

select:hover {
    background-color: #515151;
}

option {
    color: white;
}

option:hover {
    background-color: #515151;
}

textarea {
    background-color: #3B3B3B;
    border: 2px solid #708d81ff;
}

textarea:hover {
    background-color: #515151;
}

.radio {
    padding: 10px 0px;
}

.checkbox {
    padding: 10px 0px;
}

textarea {
    max-width: 99.5%;
    min-width: 99.5%;
    min-height: 100px;
    border-radius: 5px;
}